
h1 {
    text-align: center;
    font-family: "courier new";
    margin-top: 50px;
    background-color: orange;
}

.players {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

#demo {
    background-color: orange;
}